*{
    box-sizing: border-box;
}
.box{
    width: 100px;
    height: 20px;
    background-color: blue;
    position: sticky;
    border-radius: 15px;
    box-shadow: 15 black;
    top: 15px;
    margin-left: 1000px;
}

.container{
    width:200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
}

.div-cont{
    width: 100px;
    height: 20px;
    background-color: rgb(30, 255, 0);
    position: relative;
    margin-left: 10px;
    top: 20px;
    
}

p{
    font-size: 30px;
}